 .overlay{
    background-color:lightskyblue;
    padding-bottom: 5%;
    height: 100%;
}
 .title{
    display: flex;
    align-items: center; 
    font-family: 'Special Elite', cursive;
    text-align: center;
    font-weight: bolder;
    padding-left: 9%;
    height: 70px;
    width: 100%;
    background-color:royalblue;
    margin-bottom: 50px;
    color:lightyellow;
}
.all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    margin-bottom: 2%;
    background-color:lightyellow;
    box-shadow: 2px 2px 3px 2px black;
}

.quote-and-form-section {
    width: 100%;
}
.quote-section {
    width: 50%;
    float: left;
    display: flex;
    justify-content: center;
}
.form-section {
    float: right;
    width: 50%;
    background-color: wheat;
}

h3{
    font-family: 'Architects Daughter', cursive;
    color: deepskyblue;
}

.quote-description {
    font-size: larger;
    font-family: 'Architects Daughter', cursive;
    font-weight: bold;
    
} 
#date{
    float: right;
    font-size: 14px;
  }
span{
    font-family: 'Architects Daughter', cursive;
  }
.posted{
    font-family: 'Architects Daughter', cursive;

  }